
/**
  * HUMANS.txt
  */

.humans-txt {
  width: auto;

  // Cool FX's
  a {
    background-color: black;
    border: 2px solid $hacker-color-light;
    border-radius: 10px;

    &:hover {
      background-color: $hacker-color-light;
      border-color: white;
    }

    &:active {
      position: relative;
      top: -2px;
      box-shadow: 10px 10px 10px;
    }
  }
}

/**
 * Site header
 */
.site-header {

  // -- BORDER STUFF --

  border-bottom: 5px solid $hacker-color-dark;
  border-left: 2px solid black;
  border-right: 2px solid black;

  border-bottom-left-radius: $header-border-radius;
  border-bottom-right-radius: $header-border-radius;

  box-shadow: 6px 5px 5px darken(darkgrey, 10%);

  // --   -- end border stuff --    --

  padding-top: 8px;
  min-height: $spacing-unit * 1.865;
  height: 100px;
  width: 80%;
  background-color: $header-background-color;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    display: block;
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-family: $hacker-font;
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  border: $title-fake-border solid $header-background-color;

  &,
  &:visited {
    color: $hacker-color-dark;
  }

  &:hover {
    color: $hacker-color-light;
  }

  &:active {
    color: white;
    background-color: darken($header-background-color, 20%);

    border-top-color: darken($header-background-color, 10%);
    border-left-color: darken($header-background-color, 10%);
    border-bottom-color: lighten($header-background-color, 10%);
    border-right-color: lighten($header-background-color, 10%);
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-family: $hacker-font;
    font-size: 1.2em;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 2px solid black;
  padding: $spacing-unit 0;
  background-color: $footer-background-color;
  border-bottom-left-radius: $superwrapper-border-radius;
  border-bottom-right-radius: $superwrapper-border-radius;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  font-family: $hacker-font;
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    padding-bottom: 4px;
    border-left: 2px solid black;
  }
}

.post-meta {
  font-size: $small-font-size * 1.2;
  font-family: $hacker-font;
  color: $grey-color;
  margin-left: $post-list-indent;
  position: relative;
  top: -2px;
}

.post-link {
  margin-left: $post-list-indent;
  display: inline;
  @include relative-font-size(1.5);

  /* Stil för "knapp-utseende" */
  background-color: lighten($hacker-color, 10%);
  border: 6px solid black;
  border-radius: 8px;

  border-top-color: darken($hacker-color-light, 25%);
  border-left-color: darken($hacker-color-light, 25%);
  border-right-color: lighten($hacker-color-dark, 10%);
  border-bottom-color: lighten($hacker-color-dark, 10%);
  
  &:hover {
    background-color: $hacker-color;

    border-top-color: lighten($hacker-color-dark, 10%);
    border-left-color: lighten($hacker-color-dark, 10%);
    border-right-color: darken($hacker-color-light, 25%);
    border-bottom-color: darken($hacker-color-light, 25%);
  }

  &:active {
    color:white;
    background-color: $hacker-color-light;
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;

}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  font-family: $hacker-font;
  text-decoration: underline;
  margin-left: 6px;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-family: $hacker-font;
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    font-family: $hacker-font;
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    font-family: $hacker-font;
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
